PUBLIC_FQDN=example.com
PROXY_PORT=9999

CELLS_ADMIN_PASSWORD=admin
# admin / admin to protect technical info. Hashed with "caddy hash-password" command 
SYSADMIN_PASSWORD=JDJhJDE0JFA4OE9kbm9PVmdoT1pEMFIvTVpQTy5rTEt5UDNlcWdYRXFYZ3JkSWZuWXdiQVVwTTI4QWh5

MYSQL_PYDIO_USER_LOGIN=pydio
MYSQL_PYDIO_USER_PASSWORD=cells
MYSQL_ROOT_PASSWORD=cells
VAR_DIR=/var/cells